body {
  padding: 0;
  height: auto;
}

#landing {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
}

#landing #header {
  box-sizing: border-box;
  padding: 75px 75px 50px 75px;
}

#landing #header #actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#landing #header #actions .action {
  display: flex;
  margin: 0 2em 0 0;
  flex-direction: row;
  align-items: center;
}

#landing #header #actions .action:last-child {
  margin: 0;
}

#landing #header #actions .action .action-icon {
  margin: 0 10px 0 0;
}

#landing #footer {
  padding: 75px;
  position: initial;
  box-sizing: border-box;
}

#landing #footer .icons li a {
  font-size: 1.6em;
}

#poc {
  width: 100vw;
  height: 100vh;
}

#feedback {
  display: flex;
  flex-direction: row;
}

#feedback #feedback-text {
  flex: 1;
}

#feedback #feedback-template__wrapper {
  flex: 0 0 500px;
  margin: 25px 0 0 100px;
}

#feedback #feedback-template__wrapper #feedback-template {
  width: 100%;
  padding: 25px;
  color: #fff;
  font-size: 14px;
  line-height: 1em;
  border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
  font-family: Courier, monospace;
  background-color: rgba(0, 0, 0, 0.5);
}

#feedback #feedback-template__wrapper #feedback-template-action {
  text-align: center;
}

#feedback #feedback-template__wrapper #feedback-template-action .link {
  font-size: .8em;
  margin: 10px 0 0 0;
}
